---
---
$dummyvariable: red;

$color-primary: #04364A;
$color-accent: #DAFFFB;
$color-primary-lighter: lighten($color-primary, 10%);
$link-highlight: maroon;
$font-heading: "Roboto Slab", sans-serif;
$font-serif: 'Crimson Text', serif;
$font-sans: "Inter", sans-serif;

*{
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

/* Normalize html and body elements,this style is just good to have */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DEFINING FONTS FOR THE WEBSITE */
.char-right,
.char-right>p,
.char-right>div,
.char-right>ol>li,
.char-grid>ul>li {
  font-family: $font-serif;
  h2 {
    margin: 0;
  }
}

.char-right,
.char-right>p {
  font-size: 1.2rem;
}

.news>div,
.news>p,
.main>p,
.news>a>div>span,
.homepage-footer {
  font-family: $font-sans;
}

h1,
h2 {
  font-family: $font-heading;
}

/* --------------------------------------- */

// COLORS FOR ELEMENTS
a {
  color: $color-primary;

  &:hover {
    color: $link-highlight;
  }
}
/*navbar*/
.title {
  text-align: center;
}

.navbar {
  overflow: hidden;
  bottom: 0;
  width: 100%;
  height: 35px;
}

.navbar>hr {
  margin: 2em auto;
}

.navtext {
  font-size: 90%;
  border-top: solid 2px;
  padding: 3px;
}

#altnavtext {
  margin-right: 33.5%;
}

/*-----------footer space div----------------------------------*/
.footer-space-div {
  margin: 50px;
  display: inline-block
}

/*---------------------------------------------------------------*/
/*link in the characters page*/
.list {
  list-style-type: none;

}

.list>li {
  margin: 7px 0px;
}

/*------------icon and text in third column in homepage----------*/
.align-image {
  display: flex;
}

.image-column>img {
  max-width: 19px;
}

.text-column {
  padding-left: 5px;
}

/*---------------------------------------------------------------*/

/*for the flex in the homepage*/
.imgchar {
  height: 100%;
  width: 100%;
}

/*for vertical navbar in the homepage*/
.vertical {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: $font-sans;
  justify-content: center;
  gap: 5px;

}

.links>a {
  display: block;
  padding: 8px 8px;
  text-decoration: none;
  background-color: $color-accent;
  color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $color-primary;
    color: $color-accent;
  }
}

.links {
  text-align: center;
}
.social-box {
            display: flex;
            gap: 3px;
            flex-direction: row;
            justify-content: center;
        }
.socials {
            border: 1px solid black;
            padding: 5px;
        }
.socials::before {
            content: 'hi';
        }
@media screen and (min-width: 768px) {
  .vertical {
    flex-direction: column;
  }
}

/* Create three equal columns that sits next to each other */
.row-leftnav {
  display: flex;
  margin: 20px auto;
  max-width: fit-content;
  gap: 10px;
}

.column {
  text-align: center;
  padding: 5px;
  flex: 25%;
  transition: background-color 0.3s ease-in-out;
  min-width: fit-content;
  &:hover {
    background-color: $color-accent;
    border-radius: 10px;
  }
}

.image-rotate {
  filter: contrast(100%);

  &:hover {
    filter: contrast(150%);
    transition: filter 0.2s ease-in-out;
  }

}

.column>a {
  font-family: "Inter", sans-serif;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $color-primary;
  }
}

.column>a>p {
  color: $color-primary;
}

/*-------------------------------------------------*/

.aligncenter {
  text-align: center;
}

/*container for template of characters*/

.summary-box {
  border-radius: 4px;
  background-color: $color-accent;
  border: 1px solid $color-primary;;
  max-width: fit-content, -moz-fit-content;
  font-size: 0.8rem;
  pre {
    padding: 8px;
  }
  h4, h3 {
    text-align: center;
    font-family: $font-sans;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
}

#box1 {
  flex-grow: 3;
  padding-right: 10px;
}

#box2 {
  flex-grow: 1;
}

.summary_box_title {
  font-family: $font-heading;
  font-weight: bold;
  font-size: 1.5em;
  padding: 5px 0;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid black;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }

  .summary-box {
    margin: 20px auto;
    max-width: fit-content;
  }
}

/*------------------------------------------------*/
.summary-image {
  text-align: center;
}

/*---------------------------------------------*/
.header {
  text-align: center;
}

.details {
  grid-column: 1 / 5;
}

/*----------page navigation top-----------*/

.topnav {
  overflow: hidden;
  text-align: center;
}

.topnav a {
  text-align: center;
  padding: 0px 2px;

}

.topnav a:hover {
  text-shadow: 2px 2px 5px crimson;
  font-style: italic;
}

.flex-item {
  padding: 20px;
  box-sizing: border-box;
  min-height: 200px;
  /* Example min-height, adjust as needed */
}

.item-2-3 {
  flex: 2;

}

.item-1-3 {
  flex: 1;

}


/* styling for centered div in character layout
----------------------------------------------- */

.centered-content {
  width: 50%;
  margin: 0 auto;

}

@media (max-width: 800px) {
  .centered-content {
    width: auto;
    padding: 15px
  }
}


/*-------grid for trivia-----------*/
.gc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  font-family: Arial, Helvetica, sans-serif
}

.gi {
  background-color: $color-accent;
  border-radius: 7px;
  text-align: center;
  border: 1px solid $color-primary;
  font-family: $font-sans;
  font-size: 1rem;
}

.gi>h3 {
  color: $color-primary;
  margin: 0;
  padding: 0.5em;
  border-bottom: 1px solid $color-primary;
}

.gi>p {
  color: $color-primary;
  margin: 1em;
}

.gi a {
  text-decoration: none;
}

.btn {
  background-color: $color-primary;
  text-decoration: none;
  width: fit-content;
  border-radius: 5px;
  text-align: center;
  color: white;
  padding: 7px 15px;
  margin: 10px auto;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $color-primary-lighter;
  }
}

@media (max-width: 768px) {
  .gc {
    grid-template-columns: none;
  }
}

/* grid for character page */

.char-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 0 25px;
  margin: 15px;
}

@media (max-width: 1100px) {
  .char-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0 25px;
    margin: 15px;
  }
}

@media (max-width: 768px) {
  .char-grid {
    grid-template-columns: none;
  }
}

/* the left main right responsive division of the page
-----------------------------------------------------*/

.homepage-grid {
  display: grid;
  grid-template-areas:
    "left main right"
    ". footer-links ."
    ". homepage-footer ."
    
  ;
  grid-template-columns: 1fr 3fr 1fr;

  gap: 0 20px;
  margin: 15px;
}

.left {
  grid-area: left;
}

.main {
  grid-area: main;
}

.right {
  grid-area: right;
  min-width: fit-content;
}

.footer-links {
  grid-area: footer-links;
  border: 1px solid black;
  padding: 1px;
  display: flex;
  justify-content:stretch;
  gap: 1px;
}

.footer-link-left, .footer-link-right {
  border: 1px solid black;
  width: 50%;
  padding: 5px;
  min-height: 100px;
}


.homepage-footer {
  grid-area: homepage-footer;
  text-align: center;
}

// MEDIA QUERIES FOR TABLETS
@media screen and (max-width: 1000px) {
  .homepage-grid {
    grid-template-areas:
       "left"
      "main"
      "right"
      "footer-links"
      "homepage-footer"
    ;
    grid-template-columns: 1fr;
    gap: 30px 20px;
  }
   .vertical {
    flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
  }
}

// MEDIA QUERIES FOR MOBILE PHONES 
@media screen and (max-width: 768px) {
  .homepage-grid {
    grid-template-areas:
      "left"
      "main"
      "right"
      "footer-links"
      "homepage-footer"
    ;
    grid-template-columns: 1fr;
    gap: 30px 20px;
  }
  .footer-links {
    flex-direction: column;
    width: 100%;
  }
  .footer-link-left, .footer-link-right {
    width: 100%;
  }
}

.homepage-cover-image {
  display: block;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
}

.main>p {
  text-align: center;
}

.updates-date-heading {
  background-color: #FFC93C;
  color: #31326F;
  padding: 5px 10px;
  margin-top: 20px;
  font-weight: 600;
}

hr {
  border-top: 0;
}

/* BLOG LIST PAGE STYLING BEGINS */
.link-heading {
  font-family: $font-heading;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: $color-primary;
}

.date {
  margin: 0;
  font-size: small;
  font-family: $font-sans;
}

.blog-links {
  background-color: $color-accent;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.feed {
  display: flex; 
  justify-content: center; 
  font-family: $font-sans;
  font-size: 16px;
  & a {
    color: $color-accent;
    text-align: center;
  }
}

// SOME RANDOM STYLING
// -------------------

.center {
  text-align: center;
}

.edit-page-link {
  display: inline-block;
  padding: 8px 12px;
  background-color: #0078d7;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  &:hover {
    background-color: #005a9e;
    color: white !important;
  }
  &::before {
    content: '✏️';
  }
}
