<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{ site.title }}</title>
    {% include favicon.html %}
    {% include fonts.html %}
    {% include meta.html %}

    <script async defer src="https://buttons.github.io/buttons.js"></script>

  </head>

  <body>

    {% include banner.html %}
    <div class="homepage-grid">
      <div class="left">
        {% include leftnav.html %}
      </div>


      <div class="main">
        <img src="../content/cover.jpeg" alt="Book Cover"
          class="homepage-cover-image">
        <p>Cover Page of the first English edition of the book</p>

        <div class="char-right" style="display: flex; justify-content: center;">
          <div style="background: rgba(0,0,0,0.6); color: #fff; padding: 2rem; border-radius: 1rem; margin-bottom: 2rem; font-size: 1.5rem; text-align: center; position: relative; width: 70%;">
            <span style="font-size: 3rem; font-weight: bold; position: absolute; left: 1rem; top: 0.5rem; opacity: 0.8;">&#8220;</span>
            <span style="font-size: 3rem; font-weight: bold; position: absolute; right: 1rem; bottom: 0.5rem; opacity: 0.8;">&#8221;</span>
            <blockquote style="margin: 0; font-style: italic;">
              MANY YEARS LATER as he faced the firing squad, Colonel Aureliano Buendía was to remember that distant afternoon when his father took him to discover ice.
            </blockquote>
          </div>
        </div>
      </div>


      <div class="right">
        {% include news.html %}
      </div>

      <!-- footer box -->
      <div class="footer-links">
        <div class="footer-link-left">
            {% for page in site.pages %}
            {% if page.path contains '/content' %}
            &bull; <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title
                }}</a> 
            {% endif %}
            {% endfor %}
        </div>
        <div class="footer-link-right">
          <em>Latest Blogs</em>
          <ul>
            {% for post in site.posts limit:3 %}
           
              <li>

                <a href="{{ post.url }}" >{{ post.title
                  }}</a>
              </li>
            {% endfor %}
          </ul>
          <a href="{% link pages/blogs.html %}">All Blogs &RightArrow;</a>
        </div>
      </div>
    {% include footer.html %}


    </div>
  </body>

</html>
